ul.menu-swipe-list
    li
        div
            span &#218;
            a(href="#") o
            a(href="#") l
            a(href="#") ?
        img(src=require("./portrait.jpg"))
        p Lorem ipsum dolor sit amet. #[br] Swipe to find more...
    li
        div
            span &#218;
            a(href="#") o
            a(href="#") l
            a(href="#") ?
        img(src=require("./portrait.jpg"))
        p Lorem ipsum dolor sit amet. #[br] Swipe to find more...
    li
        div
            span &#218;
            a(href="#") o
            a(href="#") l
            a(href="#") ?
        img(src=require("./portrait.jpg"))
        p Lorem ipsum dolor sit amet. #[br] Swipe to find more...
    li
        div
            span &#218;
            a(href="#") o
            a(href="#") l
            a(href="#") ?
        img(src=require("./portrait.jpg"))
        p Lorem ipsum dolor sit amet. #[br] Swipe to find more...