.tabs
    a(href="#") #[span B] Menu
    ul
        li #[a(href="#") #[span X] Views]
        li #[a(href="#") #[span u] Location]
        li #[a(href="#") #[span o] Links]
        li #[a(href="#") #[span e] Commands]
        li #[a(href="#") #[span l] Uploads]
        li #[a(href="#") #[span b] Videos]
        li #[a(href="#") #[span .] Profile]
    div
        div
            h1 Header 1
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis magni veritatis accusantium officia! Doloremque laboriosam ducimus, tempore laudantium necessitatibus dolore.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste consequuntur fuga maiores, nisi necessitatibus eos exercitationem minus eum perspiciatis provident odit fugit molestias at molestiae pariatur quis totam praesentium modi.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, dolore, sequi. Sapiente itaque mollitia quia praesentium. Reiciendis nesciunt dolorem, eius odio totam, deleniti cum esse distinctio? Rem quidem itaque at magni voluptatem, delectus voluptas tempore nulla vel inventore explicabo impedit.
        div
            h1 Header 2
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis magni veritatis accusantium officia! Doloremque laboriosam ducimus, tempore laudantium necessitatibus dolore.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste consequuntur fuga maiores, nisi necessitatibus eos exercitationem minus eum perspiciatis provident odit fugit molestias at molestiae pariatur quis totam praesentium modi.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, dolore, sequi. Sapiente itaque mollitia quia praesentium. Reiciendis nesciunt dolorem, eius odio totam, deleniti cum esse distinctio? Rem quidem itaque at magni voluptatem, delectus voluptas tempore nulla vel inventore explicabo impedit.
        div
            h1 Header 3
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis magni veritatis accusantium officia! Doloremque laboriosam ducimus, tempore laudantium necessitatibus dolore.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste consequuntur fuga maiores, nisi necessitatibus eos exercitationem minus eum perspiciatis provident odit fugit molestias at molestiae pariatur quis totam praesentium modi.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, dolore, sequi. Sapiente itaque mollitia quia praesentium. Reiciendis nesciunt dolorem, eius odio totam, deleniti cum esse distinctio? Rem quidem itaque at magni voluptatem, delectus voluptas tempore nulla vel inventore explicabo impedit.
        div
            h1 Header 4
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis magni veritatis accusantium officia! Doloremque laboriosam ducimus, tempore laudantium necessitatibus dolore.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste consequuntur fuga maiores, nisi necessitatibus eos exercitationem minus eum perspiciatis provident odit fugit molestias at molestiae pariatur quis totam praesentium modi.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, dolore, sequi. Sapiente itaque mollitia quia praesentium. Reiciendis nesciunt dolorem, eius odio totam, deleniti cum esse distinctio? Rem quidem itaque at magni voluptatem, delectus voluptas tempore nulla vel inventore explicabo impedit.
        div
            h1 Header 5
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis magni veritatis accusantium officia! Doloremque laboriosam ducimus, tempore laudantium necessitatibus dolore.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste consequuntur fuga maiores, nisi necessitatibus eos exercitationem minus eum perspiciatis provident odit fugit molestias at molestiae pariatur quis totam praesentium modi.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, dolore, sequi. Sapiente itaque mollitia quia praesentium. Reiciendis nesciunt dolorem, eius odio totam, deleniti cum esse distinctio? Rem quidem itaque at magni voluptatem, delectus voluptas tempore nulla vel inventore explicabo impedit.
        div
            h1 Header 6
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis magni veritatis accusantium officia! Doloremque laboriosam ducimus, tempore laudantium necessitatibus dolore.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste consequuntur fuga maiores, nisi necessitatibus eos exercitationem minus eum perspiciatis provident odit fugit molestias at molestiae pariatur quis totam praesentium modi.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, dolore, sequi. Sapiente itaque mollitia quia praesentium. Reiciendis nesciunt dolorem, eius odio totam, deleniti cum esse distinctio? Rem quidem itaque at magni voluptatem, delectus voluptas tempore nulla vel inventore explicabo impedit.
        div
            h1 Header 7
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis magni veritatis accusantium officia! Doloremque laboriosam ducimus, tempore laudantium necessitatibus dolore.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste consequuntur fuga maiores, nisi necessitatibus eos exercitationem minus eum perspiciatis provident odit fugit molestias at molestiae pariatur quis totam praesentium modi.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, dolore, sequi. Sapiente itaque mollitia quia praesentium. Reiciendis nesciunt dolorem, eius odio totam, deleniti cum esse distinctio? Rem quidem itaque at magni voluptatem, delectus voluptas tempore nulla vel inventore explicabo impedit.