ul.menu-simple
    li
        a(href="#")
            p #[span X] Views
    li
        a(href="#")
            p #[span u] Loaction
    li
        a(href="#")
            p #[span o] Links
    li
        a(href="#")
            p #[span e] Commands
    li
        a(href="#")
            p #[span l] Uploads
    li
        a(href="#")
            p #[span b] Videos
    li
        a(href="#")
            p #[span ,] Profile