doctype html
html
    head
        title Flat-UI-Components
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")

    body
        h2 Main
        include components/nav/nav.pug
        
        h2 Swipe Menu: swipe item to the right (&#8594;) to expand menu
        include components/menu-swipe/menu-swipe.pug
        
        h2 Search Menu
        include components/menu-search/menu-search.pug

        h2 Simple Menu
        include components/menu-simple/menu-simple.pug

        h2 Form
        include components/form/form.pug

        h2 Datepicker
        include components/datepicker/datepicker.pug

        h2 Tabs
        include components/tabs/tabs.pug
