.nav
    img(src=require("./highlands.jpg"))
    h1 Flat UI
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, culpa.
    a(href="#") Find out more...#[span &gt;]
    ul
        li
            p #[span O] #[br] 1,567 #[small views]
        li
            p #[span T] #[br] 1,900 #[small views]
        li
            p #[span S] #[br] 567 #[small views]