.nav {
    max-width: 895px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    background-color: $yellow;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(0,0,0, .3);
}

.nav img {
    float: left;
    margin-bottom: -3000%;
}

.nav h1 {
    margin: 35px;
    font-size: 41px;
    font-weight: 200;
    color: $text-brown;
}

.nav > p {
    max-width: 250px;
    margin: 0 35px 35px;
    line-height: 160%;
    font-size: 21px;
    color: $text-brown;
}

.nav a {
    display: inline-block;
    height: 35px;
    line-height: 35px;
    margin: 0 0 35px 130px;
    background-color: $brown;
    color: $text-white;
    padding-left: 15px;
    text-decoration: none;
    border-radius: 50px;
    transition: background-color .3s;
    
    &:hover {
        background-color: $dark-brown;
    }
}

.nav a span {
    display: inline-block;
    float: right;
    width: 27px; height: 27px;
    line-height: 27px;
    margin: 4px 4px 4px 10px;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    color: $text-brown;
    text-indent: 3px;
    background-color: white;
    border-radius: 50%;
}

.nav ul {
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
    background-color: $brown;
    color: $text-white;
    list-style: none;
}

.nav li {
    float: left;
    width: 33.33333%;
    border-left: 1px solid #959595;
    
    &:first-child {
        border: none;
    }
}

.nav li p {
    margin: 10px 0;
    padding: 0;
    text-align: center;
    line-height: 200%;
    font-size: 20px;
    font-weight: 200;
}

.nav li span {
    font-family: $liga;
    font-size: 28px;
}

@media screen and (max-width: 768px) {
    .nav li small {
        display: block;
        width: 100%;
        margin-top: -20px;
    }
}

@media screen and (max-width: 480px) {
    .nav {
        text-align: center;
    }

    .nav h1 {
        margin-bottom: 10px;
        font-size: 35px;
    }

    .nav > p {
        font-size: 18px;
        max-width: 100%;
    }

    .nav a {
        margin-left: 0;
    }

    .nav li p {
        font-size: 16px;
    }
}